<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    @model EcoGame.Ecosystem

    @{
        ViewBag.Title = "Delete";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Ecosystem</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ImgEcosystem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImgEcosystem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DescEcosystem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DescEcosystem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameEcosystem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameEcosystem)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RegEcosystem)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RegEcosystem)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>