<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    @model IEnumerable<EcoGame.Ecosystem>

    @{
        ViewBag.Title = "Index";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImgEcosystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescEcosystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEcosystem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegEcosystem)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ImgEcosystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescEcosystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEcosystem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegEcosystem)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { EcosystemId = item.EcosystemId }) |
                    @Html.ActionLink("Details", "Details", new { EcosystemId = item.EcosystemId }) |
                    @Html.ActionLink("Delete", "Delete", new { EcosystemId = item.EcosystemId })
                </td>
            </tr>
        }

    </table>
</div>