<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    @model IEnumerable<EcoGame.Animal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SoundAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameAnimal)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoundAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameAnimal)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { AnimalId = item.AnimalId }) |

                @Html.ActionLink("Delete", "Delete", new { AnimalId = item.AnimalId })
                @Html.ActionLink("Details", "Index", "AnimalEcosystemDetail")
            </td>
        </tr>
    }

</table>
    <div>
        @Html.ActionLink("Volver", "Admin", "Login")
    </div>
</div>