<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    @model EcoGame.User

    @{
        ViewBag.Title = "Index";

    }

        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.NameUser,"Usuario   ")
            @Html.TextBoxFor(model => model.NameUser, null, "UserName")
            <br />
            <br />
            @Html.LabelFor(m => m.PswUser, "Contraseña ")
            @Html.PasswordFor(m => m.PswUser);
            <div class="jumbotron">
        

   


                
                <a href="" class="btn btn-primary btn-lg"><input type="submit" value="INGRESAR"/>  </a>
               

            </div>
           
            @Html.ValidationSummary()
        }

    <div>
        @Html.ActionLink("Volver", "Index", "Home")
    </div>

        <hr />
</div>