<div class="jumbotron" style="background-color:white; opacity: 0.8;">
    @model EcoGame.User

    @{
        ViewBag.Title = "Index";

    }

        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.NameUser)
            @Html.TextBoxFor(model => model.NameUser, null, "UserName")
            <br />
            <br />
            @Html.LabelFor(m => m.PswUser)
            @Html.TextBoxFor(m => m.PswUser)
            <input type="submit" />
            @Html.ValidationSummary()
        }

        <hr />
</div>